In [1]:
import pandas
import pandas as pd

In [2]:
bookcrossing = pd.read_csv('../dataset/BookCrossing/Preprocessed_data.csv')
bookcrossing.rename(columns= {'book_title':'Title'}, inplace=True)
bookcrossing.head(2)

,Unnamed: 0,user_id,location,age,isbn,rating,Title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada

In [3]:
amazonbook = pd.read_csv('../dataset/AmazonBook/books_data.csv')
#amazonbook.head(2)

In [4]:
review = pd.read_csv('../dataset/AmazonBook/Books_rating.csv')
#review.head(2)

In [ ]:
review.drop(columns=['Id', 'Price', 'profileName', 'review/time', 'review/helpfulness'], inplace=True)
#review.head(2)

,Title,User_id,review/score,review/summary,review/text
0,Its Only Art If Its Well Hung!,AVCGYZL8FQQTD,4.0,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,Dr. Seuss: American Icon,A30TK6U7DNS82R,5.0,Really Enjoyed It,I don't care much for Dr. Seuss but after read...

In [ ]:
data = pd.merge(amazonbook, bookcrossing, on='Title', how='inner')
#data.head(2)

,Title,description,authors,image,previewLink,publisher_x,publishedDate,infoLink,categories,ratingsCount,...,publisher_y,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,Alaska Sourdough,"""Sourdough is a magical food"", as author Ruth ...",['Ruth Allman'],http://books.google.com/books/content?id=ubBQA...,http://books.google.nl/books?id=ubBQAQAAIAAJ&q...,Alaska Northwest Books,1976,http://books.google.nl/books?id=ubBQAQAAIAAJ&d...,['Cooking'],NaN,...,Alaska Northwest Books,http://images.amazon.com/images/P/0882400851.0...,http://images.amazon.com/images/P/0882400851.0...,http://images.amazon.com/images/P/0882400851.0...,9,9,9,fairbanks,alaska,usa
1,Eyewitness Travel Guide to Europe,The DK Eyewitness Travel Guide: Eastern and Ce...,"['Dorling Kindersley Publishing Staff', 'Jonat...",http://books.google.com/books/content?id=h4wor...,http://books.google.nl/books?id=h4worgEACAAJ&d...,NaN,2015-06-15,http://books.google.nl/books?id=h4worgEACAAJ&d...,['Europe'],NaN,...,Dorling Kindersley Publishing,http://images.amazon.com/images/P/0789480662.0...,http://images.amazon.com/images/P/0789480662.0...,http://images.amazon.com/images/P/0789480662.0...,9,9,9,bad axe,michigan,usa

In [ ]:
data.dropna(inplace=True)

In [ ]:
data = data[data['Language'] != '9']
#data.head(2)

,Title,description,authors,image,previewLink,publisher_x,publishedDate,infoLink,categories,ratingsCount,...,publisher_y,img_s,img_m,img_l,Summary,Language,Category,city,state,country
44,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],http://books.google.com/books/content?id=h-R4N...,http://books.google.nl/books?id=h-R4Nt0spJUC&d...,"Random House Digital, Inc.",1987,http://books.google.nl/books?id=h-R4Nt0spJUC&d...,['Gardening'],1.0,...,Ballantine Books,http://images.amazon.com/images/P/0345340949.0...,http://images.amazon.com/images/P/0345340949.0...,http://images.amazon.com/images/P/0345340949.0...,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],crest hill,illinois,usa
45,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],http://books.google.com/books/content?id=h-R4N...,http://books.google.nl/books?id=h-R4Nt0spJUC&d...,"Random House Digital, Inc.",1987,http://books.google.nl/books?id=h-R4Nt0spJUC&d...,['Gardening'],1.0,...,Ballantine Books,http://images.amazon.com/images/P/0345340949.0...,http://images.amazon.com/images/P/0345340949.0...,http://images.amazon.com/images/P/0345340949.0...,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],hoover,alabama,usa

In [ ]:
data.drop(columns=['image', 'previewLink', 'infoLink', 'categories', 'Unnamed: 0', 'isbn', 'age', 'img_s', 'img_m', 'img_l', 'city', 'state', 'country', 'location', 'year_of_publication', 'user_id', 'rating'], inplace=True)

In [ ]:
data['publishedDate'] = data['publishedDate'].str.extract(r'(\d{4})')

In [ ]:
#data.head(2)

,Title,description,authors,publisher_x,publishedDate,ratingsCount,book_author,publisher_y,Summary,Language,Category
44,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],"Random House Digital, Inc.",1987,1.0,Jerry Baker,Ballantine Books,"Explains how to grow a green, beautiful lawn a...",en,['Gardening']
45,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],"Random House Digital, Inc.",1987,1.0,Jerry Baker,Ballantine Books,"Explains how to grow a green, beautiful lawn a...",en,['Gardening']

In [ ]:
data['Publishers'] = data['publisher_x'].fillna(data['publisher_y'])

In [ ]:
data.drop(['publisher_x', 'publisher_y'], axis=1, inplace=True)

In [ ]:
len(data['Title'].unique())

5480

In [ ]:
data = data.drop_duplicates()
#data.head(2)

,Title,description,authors,publishedDate,ratingsCount,book_author,Summary,Language,Category,Publishers
44,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],1987,1.0,Jerry Baker,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],"Random House Digital, Inc."
52,Perry Mason in the Case of Too Many Murders,A Los Angeles businessman kills his dinner com...,['Thomas Chastain'],1990,2.0,Thomas Chastain,A Los Angeles businessman kills his dinner com...,en,['Fiction'],Avon Books

In [ ]:
#review.head(2)

,Title,User_id,review/score,review/summary,review/text
0,Its Only Art If Its Well Hung!,AVCGYZL8FQQTD,4.0,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,Dr. Seuss: American Icon,A30TK6U7DNS82R,5.0,Really Enjoyed It,I don't care much for Dr. Seuss but after read...

In [ ]:
data_withReviews = pd.merge(data, review, on='Title', how='inner')
#data_withReviews.head(2)

,Title,description,authors,publishedDate,ratingsCount,book_author,Summary,Language,Category,Publishers,User_id,review/score,review/summary,review/text
0,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],1987,1.0,Jerry Baker,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],"Random House Digital, Inc.",A27H3RG5KF1MCI,4.0,"Pretty good, although a few flaws","This is, all-around, a pretty good lawn book. ..."
1,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],1987,1.0,Jerry Baker,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],"Random House Digital, Inc.",A2ISQPWVW0UYGW,5.0,Gardening Book,I bought this book as a present. They loved it...

In [ ]:
data_withReviews.dropna(inplace=True)

In [ ]:
#data_withReviews.head(2)

,Title,description,authors,publishedDate,ratingsCount,book_author,Summary,Language,Category,Publishers,User_id,review/score,review/summary,review/text
0,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],1987,1.0,Jerry Baker,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],"Random House Digital, Inc.",A27H3RG5KF1MCI,4.0,"Pretty good, although a few flaws","This is, all-around, a pretty good lawn book. ..."
1,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],1987,1.0,Jerry Baker,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],"Random House Digital, Inc.",A2ISQPWVW0UYGW,5.0,Gardening Book,I bought this book as a present. They loved it...

In [ ]:
data_withReviews.reset_index()
data_withReviews.to_csv('reviews1.csv', index=False)

In [ ]:
data_withReviews['ratingsCount'].describe()

count    791850.000000
mean        590.132750
std        1062.187552
min           1.000000
25%           7.000000
50%          20.000000
75%         261.000000
max        4895.000000
Name: ratingsCount, dtype: float64

In [ ]:
data_withReviews.head(2)

,Title,description,authors,publishedDate,ratingsCount,book_author,Summary,Language,Category,Publishers,User_id,review/score,review/summary,review/text
0,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],1987,1.0,Jerry Baker,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],"Random House Digital, Inc.",A27H3RG5KF1MCI,4.0,"Pretty good, although a few flaws","This is, all-around, a pretty good lawn book. ..."
1,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],1987,1.0,Jerry Baker,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],"Random House Digital, Inc.",A2ISQPWVW0UYGW,5.0,Gardening Book,I bought this book as a present. They loved it...

In [ ]:
temp=data_withReviews.groupby(['Title'])

In [ ]:
temp.head()

,Title,description,authors,publishedDate,ratingsCount,book_author,Summary,Language,Category,Publishers,User_id,review/score,review/summary,review/text
0,The Impatient Gardener's Lawn Book,"Explains how to grow a green, beautiful lawn a...",['Jerry Baker'],1987,1.0,Jerry Baker,"Explains how to grow a green, beautiful lawn a...",en,['Gardening'],"Random House Digital, Inc.",A27H3RG5KF1MCI,4.0,"Pretty good, although a few flaws","This is, all-around, a pretty good lawn book. ..."
14,Perry Mason in the Case of Too Many Murders,A Los Angeles businessman kills his dinner com...,['Thomas Chastain'],1990,2.0,Thomas Chastain,A Los Angeles businessman kills his dinner com...,en,['Fiction'],Avon Books,A3MV1KKHX51FYT,4.0,The Case of the Double Murder,In Chapter 1 Gil Adrian walks into the Oaks Re...
26,From Potter's Field,"The sixth book in the Kay Scarpetta series, fr...",['Patricia Cornwell'],2008,19.0,Patricia Daniels Cornwell,Dr. Kay Scarpetta matches wits with a sadistic...,en,['Fiction'],Hachette UK,A1T97PDD7JYCUA,1.0,You have GOT to be kidding,This could be the worst novel I have ever read...
174,Goliath,The award-winning journalist and best-selling ...,['Max Blumenthal'],2013,3.0,Steve Alten,"The world is threatened by Goliath, a mysterio...",en,['Fiction'],Nation Books,ABS9OPPZVJSM8,3.0,A Restless Farewell for a National Figure of t...,David Harris's Creation of the 'RESISTANCE' wh...
176,Days of Grass,"The free humans lived underground, secretive, ...",['Tanith Lee'],2013,3.0,Tanith Lee,"Living underground with the other free humans,...",en,['Fiction'],Hachette UK,A30KEXFT9SILL6,3.0,Post-apocalypse novel with the Tanith Lee touch.,"In this stand-alone novel, Lee explores an ear..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028655,To Reach the Clouds: My High Wire Walk Between...,A high-wire artist traces his six years of pla...,['Philippe Petit'],2002,4.0,Philippe Petit,A high-wire artist traces his six years of pla...,en,['Biography & Autobiography'],Macmillan,A1IX74CXZ749YP,1.0,Auto biography of an egocentric,He and his buddies were so careful to ensure H...
1028686,My Three Husbands,"When her father and his lover accompany Venus,...",['Swan Adamson'],2005,1.0,Swan Adamson,"When her father and his lover accompany Venus,...",en,['Fiction'],Kensington Books,AB5772UPKP8I5,1.0,Awful with a captial A!,The only interesting character in this book in...
1028699,False Dawn: The Delusions of Global Capitalism,Argues that societies and peoples all over the...,['John Gray'],2010,4.0,John Gray,A professor of economics and a conservative po...,en,['Business & Economics'],ReadHowYouWant.com,A35ESIMG9JLFWB,4.0,The Case Against Globalization in the Post-Col...,"John Gray, professor of European thought at th..."
1028731,Calder Pride,The Long-Awaited Addition to the Beloved Calde...,['Janet Dailey'],2009,1.0,Janet Dailey,Cat Calder&#39;s one-time affair with a gray-e...,en,['Fiction'],Harper Collins,A16FXPGS3M8LWC,2.0,The Calder Saga very Missed,I just recently read the previous 4 in this se...
1028760,Thin Within,"I want to lose weight, but dieting just doesn'...","['Judy Halliday', 'Arthur Halliday']",2005,9.0,"Judy Wardell, R.N. Halliday",A physician-and-nurse husband-and-wife team pr...,en,['Health & Fitness'],Thomas Nelson,A2HM0BZWQRV1EF,5.0,Imagine achieving permanent weight loss withou...,Imagine achieving permanent weight loss withou...